body{
    background-image: url("../images/main_background.jpg");
}

video{
    position: fixed;
    z-index: -1;
    width: 100%;
    min-width: 100%;
    min-height: 100%;
    overflow: hidden;
    margin-top: -45%;
}

.altair {
    width: 10%;
    margin-left: 5%;
    margin-top: 2.5%;
}
.ezio {
    width: 10%;
    margin-left: 5%;
    margin-top: 2.5%;
}
.connor {
    width: 10%;
    margin-left: 5%;
    margin-top: 2.5%;
}
.edward {
    width: 10%;
    margin-left: 5%;
    margin-top: 2.5%;
}
.arno {
    width: 10%;
    margin-left: 5%;
    margin-top: 2.5%;
}
/*
.assasins{
    width: 10%;
    margin-left: 5%;
    margin-top: 10%;
}
*/
.altair:hover{
    transform: scale(1.5);
    transition: all 0.5s;
}
.ezio:hover{
    transform: scale(1.5);
    transition: all 0.5s;
}
.connor:hover{
    transform: scale(1.5);
    transition: all 0.5s;
}
.edward:hover{
    transform: scale(1.5);
    transition: all 0.5s;
}
.arno:hover{
    transform: scale(1.5);
    transition: all 0.5s;
}


